@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Smart Rides</h1>

    <div style="margin-top: 50px;">
        <h2>Travel with us!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.
        </p>
        <p>
            <img src="~/img/Charter-Bus-Rentals-Photo.jpg" alt="" style="width:270px;height:170px;margin-left:15px; float:right" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
            congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis
            sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
            Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
            sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
            fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
        </p>
    </div>

    <div style="margin-top: 50px;">
        <h2>Best Bus conditions</h2>
        <p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.
        </p>
        <p>
            <img src="~/img/unibus-galeria-2.jpg" alt="" style="width:270px;height:170px;margin-right:15px; float:left" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
            congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis
            sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
            Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
            sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
            fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
        </p>

        <img src="~/img/splash-image-iveco-bus-2020.png" alt="buses" class="img-fluid rounded-circle" />
    </div>

    <div style="margin-top: 50px;">
        <h2>Participate in our loyalty program</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.
        </p>
        <p>
            <img src="~/img/customer-loyalty-program.jpg" alt="" style="width:370px;height:170px;margin-left:15px; float:right" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
            congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis
            sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
            Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
            sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
            fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
        </p>
    </div>

    <div style="margin-top: 50px;">
        <h2>Book tickets online!</h2>
        <p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.
        </p>
        <p>
            <img src="~/img/book.jpg" alt="" style="width:350px;height:170px;margin-right:15px; float:left" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
            nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
            congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis
            sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
            Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
            sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
            fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
        </p>

        <img src="~/img/online-booking.jpg" alt="buses" class="img-fluid rounded-circle" />
    </div>
</div>
